<nav class="navbar navbar-inverse fixed-top">
  <div class="container-fluid">
    <div class="navbar-header col-2">
      <a class="navbar-brand" [routerLink]="['/notfound']">
        <span class="title">sigaus</span> 
        <span class="material-symbols-outlined water-drop fill-icons">water_drop</span>
      </a>
      <span class="border-link"></span>
    </div>
    <ul class="links nav navbar-nav col-6">
      <div class="row">
        <li class="col-auto"><a [routerLink]="['/notfound']">INICIO</a></li>
        <li class="active col-auto"><a [routerLink]="['/declaraciones']">DECLARACIONES</a></li>
        <li class="col-auto"><a [routerLink]="['/notfound']">INSTALACIONES</a></li>
        <li class="col-auto"><a [routerLink]="['/notfound']">INCIDENCIAS/ALERTAS</a></li>
        <li class="col-auto"><a [routerLink]="['/notfound']">FINANCIACIÓN</a></li>
        <li class="col-auto"><a [routerLink]="['/notfound']">INFORMES</a></li>
      </div>
      
    </ul>
    <ul class="profile nav navbar-nav navbar-right col-4">
      <div class="row">
        <li class="col-3">
          <a [routerLink]="['/notfound']">
            <span class="material-symbols-outlined notifications fill-icons">notifications_active</span>
            INCIDENCIAS
          </a>
        </li>
        <li class="col-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          
        </li>
        <li class="col-1">
          <span class="border-link"></span>
        </li>
        
        <li class="col-3 profile-icon">
          <a [routerLink]="['/notfound']"><span class="material-symbols-outlined fill-icons">folder_shared</span>
            PERFIL
          </a>
        </li>
        <li class="col-auto logout">
          <a [routerLink]="['/notfound']"><span class="material-symbols-outlined logout-icon">logout</span></a></li>
      </div>
      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
