/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
div.page-full {
    margin-top: 65px !important;
}

.small-icons {
    font-variation-settings:
        'opsz' 20;
}

.fill-icons {
    font-variation-settings:
        'FILL' 1,
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
